:root {
  --main-color: #db4d52;
  --gray: #a0a0a0;
  box-sizing: border-box;
}
html {
  font-size: 16px;
  font-family: Noto Sans, Hiragino Sans GB, sans-serif;
}
body {
  background: #f9f9f9;
  line-height: 1.5;
  color: #333;
}

a { text-decoration: none; }
.no-color-link {
  color: inherit;
  transition: color 0.5s ease;
}
.no-color-link:hover {
  color: var(--main-color);
}

.post-content a { color: var(--main-color); }
.colored-link { color: var(--main-color); }

#header {
  text-align: center;
  margin-top: 2rem;
  color: #555;
  margin-bottom: 2rem;
}
#site-title { 
  font-family: Yeseva One, Microsoft Yahei, "微软雅黑", Hiragino Sans GB, sans-serif; 
  font-size: 2.25rem;
  line-height: 1;
}

#header p {
  margin-top: .25rem;
  font-size: 1.25rem;
}

.container {
  max-width: 38rem;
  margin: 0 auto;
}

.container .post {
  padding: 1.83rem;
  background-color: #fff;
  /*background-color: #fafafa;*/
  /*background-color: #f9f9f9;*/
  margin-bottom: 1.5rem;
  transition: box-shadow 0.6s ease;
}

.post-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 1.2em;
  line-height: 1.6rem;
  color: #333;
}

.post-title:hover {
  color: var(--main-color);
}

.post:hover {
  box-shadow: 0px 10px 20px rgba(0,0,0,0.07)
}

.home .tags {
  margin-bottom: 1.2em;
}

.post-footer-right {
  float: right;
  color: var(--gray);
}

.excerpt { color: var(--gray); }

.tag-link {
    background-color: #a7b0b3;
    color: #fff;
    line-height: 22px;
    padding: 0 0.6rem;
    display: inline-block;
    border-radius: 12px;
    margin-right: 0.5rem;
    font-size: 12px;
    transition: background-color 0.5s ease;
}

.tag-link:hover { background-color: var(--main-color); }

.post-date {
  color: var(--gray);
  margin-top: 0.4rem;
  margin-bottom: 2rem;
}

footer {
  color: var(--gray);
  font-size: .875rem;
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.pagination { text-align: center;}
time { color: var(--gray); }
.archive-link { font-size: 1.25rem; }
.archive-year { 
  font-size: 1.5rem;
  font-weight: bold;
}
.archive { 
  margin-bottom: 1rem; 
  line-height: 1.7;
}