{{ define "main" }}
{{ $paginator := .Paginate (where .Site.RegularPages "Type" "in" .Site.Params.mainSections) }}
<main class="container home">
  {{ range $paginator.Pages }}
  <div class="post">
    <a class="post-title" href="{{ .Permalink }}">{{ .Title }}</a>
    <div class="excerpt">{{ if .Params.Summary }} <p>{{ .Params.Summary | markdownify }}</p> {{ else }} {{ .Summary }} {{ end }}</div>
    <div class="tags">
      {{ if isset .Params "category" }}
        {{ range .Params.category }}<a href='{{ "/category/" | relURL }}{{ . | urlize }}' class="tag-link">#{{ . }}</a> {{ end }}
      {{ end }}
    </div>
    <div class="post-footer">
      <a class="no-color-link" href="{{ .RelPermalink }}">全文...</a>
      <span class="post-footer-right">写于{{ .Date.Format .Site.Params.dateFormat }}</span>
    </div>
  </div>
  {{ end }}
  <div class="pagination">
    {{ if .Paginator.HasNext }}<a class="no-color-link" href="{{ .Paginator.Next.URL | relURL }}">&larr;older&nbsp;</a>{{ end }}
    {{ if .Paginator.HasPrev }}<a class="no-color-link" href="{{ .Paginator.Prev.URL | relURL }}">&nbsp;newer&rarr;</a>{{ end }}
  </div>
  <br/>
  <form style="border:1px solid #ccc;padding:3px;text-align:center;" action="https://feedburner.google.com/fb/a/mailverify" method="post" target="popupwindow" onsubmit="window.open('https://feedburner.google.com/fb/a/mailverify?uri=theconfused/WCqy', 'popupwindow', 'scrollbars=yes,width=550,height=520');return true"><p>Get new posts to your inbox</p><p><input type="text" style="width:140px" name="email" placeholder="name@example.com"/></p><input type="hidden" value="theconfused/WCqy" name="uri"/><input type="hidden" name="loc" value="en_US"/><input type="submit" value="Subscribe" /><p>Delivered by <a href="https://feedburner.google.com" target="_blank">FeedBurner</a></p></form>
</main>
{{ end }}